@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Redressed&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#ben{
    margin-top: -40%;
    margin-left: 20%;
}
#ten{
    color: white;
    /* position: absolute; */
    margin-top: 5%;
    margin-left: 27%;
}
.dropdown, .dropend, .dropstart, .dropup {
    margin-left: 25% !important;
    margin-top: 5% !important;
}
.input-group {
    width: 30% !important;
    margin-left: 45% !important;
    margin-top: -3% !important;
}
#first{
    padding: 10px;
}
#second{
    padding: 10px;
}
#third{
    padding: 10px;
}
#four{
    padding: 10px;
}
#five{
    padding: 10px;
}
#six{
    padding: 10px;
}
#seven{
    padding: 10px;
}
#eight{
    padding: 10px;
}